CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
chkcrcle
*.a
.a
a.out
*.exe
.exe
libcrcle.a
*.pc
libcrcle.pc
test
